form(action="/new" method="POST")
    label(for="text") Text:
    
    input#text(type="text" name="text")

    label(for="text") User:
    
    input#user(type="text" name="user")
    
    button(type="submit") Submit
